<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:xml namespace -->
<head>
<meta charset="UTF-8" />
<title>ATS Web Portal FullStack</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1 class="panel-title">Top food recipes!</h1>
					</div>
					<div class="panel-body">
						<div class="table-responsive"
							th:if="${not #lists.isEmpty(recipes)}"> <!-- if recipes returns null nothing would populate -->
							<table class="table table-hover">
								<thead class="thead-inverse">
									<tr>
										<th>ID</th>
										<th>Descrition</th>
									</tr>
								</thead>
								<tr th:remove="all"> <!-- 'all' rows would be removed while running via sts -->
									<td th:text="${recipe.recipeID}">ID</td>
									<td th:text="${recipe.description}">Description</td>
								</tr>
								<tr th:remove="all"> <!-- just to view how the template looks -->
									<td th:text="${recipe.recipeID}">ID</td>
									<td th:text="${recipe.description}">Description</td>
								</tr>
								<tr th:each="recipe:${recipes}"> <!-- looping would happen for every recipe row being populated -->
									<td th:text="${recipe.recipeID}">ID</td>
									<td th:text="${recipe.description}">Description</td>
								</tr>

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>